.thumbnail {
	display: inline-block;
  width: 100px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnail-row {
  height: 100px;
  overflow: hidden;
}